@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  background-image: url('images/ropeBackground2'); 
  background-attachment: fixed;
  background-size: cover; 
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 50px auto 0;
  padding: 0 30px;
  overflow: hidden;
}

.item {
  flex: 1 0 100px;
  position: relative;
  height: 250px;
  background-size: cover;
  border-radius: 20px;
  margin: 8px;
}

.item:hover {
  background: rgba(255, 255, 255,0.2);
  background-size: cover;
}

.item:hover .description a {
  opacity: 1;
}

.item:hover .boxlabel a {
  opacity: 0;
}

.boxlabel {
  position: absolute;
  top: 20px;
  left: 20px;
  line-height: 1.1;
}

.boxlabel a {
  font-size: 2rem;
  color: #fff;
  opacity: 1;
}

.description {
  position: absolute;
  top: 20px;
  left: 20px;
}

.description a {
  font-size: 1.1rem;
  color: rgb(42, 45, 45);
  opacity: 0;
}

section a {
  text-decoration: none;
  margin-right: 20px;
  padding-right: 20px;
}









/* Content */
.content {
  /* background-color: rgba(148, 145, 134, 0.3); */
  padding: 10px;
  padding-top: auto;
  /* border: 1px solid hsla(47, 8%, 45%, 0.8); */
}
/* .content:hover {
  background-color: rgba(254, 254, 254, 0.8);
  border: 1px solid hsla(51, 6%, 78%, 0.8);
} */

.centered {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 0.8vw;
  margin: 0px -10px 0px -10px;
  color: var(--hoverText);
}
.content:hover .image{
  opacity: 0.25;
}
.content:hover .centered{
  opacity: 1;
}
.content:hover h3{
  color: hsla(47, 10%, 54%, 0.8);
}

/* 🎃🎃🎃 MEDIA 🎃🎃🎃 */


@media screen and (max-width: 2000px) {
  .centered {
    font-size: 1vw;
    padding: 4px;
  }
}
@media screen and (max-width: 1800px) {
  .centered {
    font-size: 1.1vw;
    padding: 4px;
  }
}
@media screen and (max-width: 1500px) {
  .centered {
    font-size: 1.2vw;
    padding: 4px;
  }
}
@media screen and (max-width: 1200px) {
  .centered {
    font-size: 1.9vw;
    padding: 4px;
  }
}
@media screen and (max-width: 900px) {
  .centered {
    font-size: 2.5vw;
    padding: 4px;
  }
}
@media screen and (max-width: 600px) {
  .centered {
    font-size: 4.3vw;
    padding: 4px;
  }
}